.hidden {
    display: none !important;
}

.hex-content {
    height: 100%;
    width: 100%;
    background-color: var(--color-base-20);
}

.hex-sidepanel {
    background-color: var(--color-base-20);
}

.hex-toolbar {
    display: flex;
    flex-direction: row;
    background-color: var(--color-base-20);

    & button:hover {
        cursor: pointer;
    }
}

.hex-toolbar-group {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    gap: 4px;

    &:not(:last-child) {
        border-right: 1px solid var(--color-base-35);
        padding-right: 8px;
        margin-right: 8px;
    }
}