.hidden {
    display: none !important;
}

.hex-content {
    height: 100%;
    width: 100%;
    background-color: var(--color-base-20);
}

.hex-sidepanel {
    background-color: var(--color-base-20);
    max-width: 15%;
}

.hex-sidepanel-icon-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.hex-sidepanel-icon-button {
    height: 48px;
    width: 48px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    &.selected {
        background-color: var(--interactive-accent);
    }
}

.hex-sidepanel-icon {
    &:hover {
        cursor: pointer;
    }

    & path {
        fill: var(--text-on-accent);
    }
}

.hex-toolbar {
    display: flex;
    flex-direction: row;
    background-color: var(--color-base-20);

    & button:hover {
        cursor: pointer;
    }
}

.hex-toolbar-group {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    gap: 4px;

    &:not(:last-child) {
        border-right: 1px solid var(--color-base-35);
        padding-right: 8px;
        margin-right: 8px;
    }
}